*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7fc;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

/* Navbar */

nav{
    background:#0f172a;
    color:white;
    padding:15px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:0.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

/* Main Section */

.form-section{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.form-card{
    background:white;
    width:500px;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.form-card h1{
    text-align:center;
    color:#0f172a;
    margin-bottom:25px;
}

/* Form */

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,
select{
    width:100%;
    padding:12px;
    border:1px solid #d1d5db;
    border-radius:8px;
    font-size:15px;
    outline:none;
}

input:focus,
select:focus{
    border-color:#2563eb;
}

/* Buttons */

.action-buttons{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-top:15px;
}

.save-btn,
.delete-btn,
.back-btn{
    text-decoration:none;
    border:none;
    padding:12px 18px;
    border-radius:8px;
    color:white;
    cursor:pointer;
    font-size:14px;
    font-weight:600;
}

.save-btn{
    background:#2563eb;
}

.save-btn:hover{
    background:#1d4ed8;
}

.delete-btn{
    background:#dc2626;
}

.delete-btn:hover{
    background:#b91c1c;
}

.back-btn{
    background:#16a34a;
}



footer{
    margin-top:50px;
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
}