*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background:#f8fafc;
    color:#1e293b;
}

/* Navbar */

nav{
    background:#0f172a;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 70px;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:16px;
    transition:0.3s;
}

nav ul li a:hover{
    color:#60a5fa;
}

/* Hero */

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:62px;
    margin-bottom:20px;
    color:#0f172a;
}

.hero p{
    max-width:700px;
    margin:auto;
    font-size:20px;
    line-height:1.8;
    color:#475569;
}

.btn{
    display:inline-block;
    margin-top:35px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    padding:14px 32px;
    border-radius:8px;
    font-weight:bold;
}

.btn:hover{
    background:#1d4ed8;
}

/* Features */

.features{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:20px;
    flex-wrap:wrap;
}

.card{
    width:320px;
    background:white;
    padding:30px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    transition:0.3s
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.card h2{
    margin-bottom:15px;
    color:#0f172a;
}

.card p{
    color:#64748b;
    line-height:1.6;
}

/* Footer */

footer{
    margin-top:50px;
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
}