<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Application | JobTracker</title>

    <link rel="stylesheet" href="/static/css/add_application.css">
</head>
<body>

<nav class="navbar">
    <div class="logo">JobTracker</div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/add">Add Application</a></li>
        <li><a href="/view">View Applications</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

<section class="hero">

    <div class="form-container">

        <h1>Add Job Application</h1>
        <p>Track every opportunity and stay organized.</p>

        <form action="/save" method="POST">

            <input type="text"
                   name="company"
                   placeholder="Company Name"
                   required>

            <input type="text"
                   name="role"
                   placeholder="Job Role"
                   required>

            <input type="date"
                   name="applied_date"
                   required>

            <select name="status">
                <option>Applied</option>
                <option>Interview</option>
                <option>Selected</option>
                <option>Rejected</option>
            </select>



            <button type="submit">
                Save Application
            </button>

        </form>

    </div>

</section>

<footer>
    Job Application Tracker © 2026 | Flask & MySQL
</footer>

</body>
</html>